{% extends "base.html" %}
{% block body %}
  <h2>Players</h2>
    {% if players %}
    <table>
      <thead>
        <tr>
          <th>Name</th><th>Delete</th>
        </tr>
      </thead>
      <tbody>
      {% for player in players %}
        <tr>
          <td>{{ player.name }}</td>
          <td><a href="{{ url_for('delete_player', player_id=player.id) }}">Delete</a></td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  {% else %}
    <h4>There are no players</h4>
  {% endif %}
  <h3>Add new player</h3>
  <form action="{{ url_for('add_player') }}" method="post">
    <label>Name: <input type="text" name="name"/></label><br/>
    <input type="submit" value="Submit"><br/>
  </form>
{% endblock %}
