{% extends "base.html" %}
{% block body %}
    {% if 'authorized' in session %}

    <h3>Add new match</h3>
    <form action="{{ url_for('add_match') }}" method="post">
        <label for="player1">Player: </label>
        <select name="player1" id="player1">
            <option value=""></option>
            {% for player in players %}
                <option value="{{ player.id }}">{{player.name}}</option>
            {% endfor %}
        </select>
        <label for="score1">Score:</label>
        <input type="number" name="score1" id="score1" value="21"/><br/>
        <label for="player1">Player: </label>
        <select name="player2" id="player2">
            <option value=""></option>
            {% for player in players %}
                <option value="{{ player.id }}">{{player.name}}</option>
            {% endfor %}
        </select>
        <label for="score1">Score:</label>
        <input type="number" name="score2" id="score2" value="15"/><br/>
        <input type="submit" value="Submit"><br/>
    </form>
    {% endif %}
    {% for match in matches %}
        <h4>{{match.winner_name}} defeated {{match.loser_name}},
            {{match.winner_score}}-{{match.loser_score}}</h4>
    {% endfor %}
{% endblock %}
