<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Scoreboard</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <h1>Scoreboard</h1>
    {% block body %}{% endblock %}
  <ul>
    <li class="footer-item">
        <a href="{{ url_for('index') }}">Home</a>
    </li>
    <li class="footer-item">
        <a href="{{ url_for('list_players') }}">Players</a>
    </li>
    <li class="footer-item">
        {% if 'authorized' not in session %}
            <a href="{{ url_for('login') }}">Login</a>
        {% else %}
            <a href="{{ url_for('logout') }}">Logout</a>
        {% endif %}
    </li>
  </ul>
</body>
</html>