body {
    background-color: lightgray;
    color: darkblue;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 20px;
}

table, th, td {
    border: 1px solid darkblue;
    padding: 5px;
}

table {
    border-collapse: collapse;
}

.footer-item {
    float: left;
    list-style: none;
    padding: 5px;
}

.no-underline {
    text-decoration: none;
}

.delete {
    margin: auto;
    text-align: center;
    font-weight: bold;
}

.match-result {
    margin: 10px;
}

.match-name {
    width: 120px;
    padding-left: 15px;
}

.match-score {
    text-align: right;
    padding-right: 15px;
    padding-left: 15px;
}

li.error {
    list-style: none;
    color: red;
}